<style>
.main-part {
height: 500px;
position: relative;
}
.main-part::before {
  content: "";
    position: absolute;
height: 500px;
background-position: center;
background-size: cover;
background-image: url("/images/moet-venice.jpeg");
opacity: 0.75;
}
</style>
<div class="main-part">
<div id="form">
 
  <form action="/login" method="POST">
  <h2>Login</h2>
    <label> Email
      <input type="email" name="email" placeholder="picasso@ironhack.com" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>