<style>
.main-part {
height: 40vw;
background-position: center;
background-size: cover;
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(“/images/moet-venice.jpeg”);
}
</style>

<div class="main-part">
<div id="form">
 
  <form action="/login" method="POST">
  <h2>Login</h2>
    <label> Email
      <input type="email" name="email" placeholder="picasso@ironhack.com" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>