<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> {{!-- has to be added --}}
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
      <link rel="stylesheet" href="/stylesheets/style.css" />

   </head>

   <body>
     
    <nav>
      <ul>
        <li id="to-left">
         <a href="/"><img id="logo" src="/images/LogoSample_ByTailorBrands.png" alt="logo"></a>  
         <div id="searchAndLink">
          <form action="/paintings/search" method="GET">
              <input name="search" type="text" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
        
         <a href="/users-list">Artists</a> 
         </div>
        </li>
        <li id="to-right">
          <a href="/users-list">Artists</a> <span> | </span>
          <a href="/signup">Signup</a> <span> | </span>
          <a href="/login">Login</a> <span> | </span>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button> <span> | </span>
  </form>
   <a href="/userProfile">Profile</a>
        </li>
      </ul>
    </nav>
    
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>